<h1>Thanks for signing up for [app]!</h1>

<p>We're in beta right now, and still working out some details. If you catch any part of the application misbehaving, feel free to let us know at support@[app].com.</p>

